.maListe{
    background: url(../images/image2.jpg) no-repeat;
    background-size: 100% 100%;
}
.Addtodo{
    width: 30%;
    margin: auto;
    padding: 1%;
    text-align: center;
}
.Addtodo input{
    padding: 1%;
    width: 90%;
}
.Addtodo button{
    width: 60%;
    border: none;
    border-radius: 10px;
    padding: 1%;
    font-weight: bold;
    font-size: 20px;
    background-color: red;
    color: white;
}
.TodolistContainer{
    width: 50%;
    margin: auto;
    padding: 1%;
}
.TodoItem{
    border: 1px solid grey;
    margin: 1%;
    padding: 1%;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    background: orange;
    color: white;
}
.completed{
    background-color: rgb(21, 230, 21);
    color: white;
}